<ul class="panel panel-menu d-flex flex-row">
    <li class="pm pm-menu-groups @ViewBag.MenugroupPanelActive">
        <a href="~/menugroups">
            <img src="~/Content/Images/icon-menu.png" />
            Menu Groups
        </a>
    </li>
    <li class="pm pm-pages @ViewBag.PagePanelActive">
        <a href="~/pages">
            <img src="~/Content/Images/icon-page.png" />
            Pages
        </a>
    </li>
    <li class="pm pm-pdf @ViewBag.PdfPanelActive">
        <a href="~/pdfs">
            <img src="~/Content/Images/icon-pdf.png" />
            Pdf
        </a>
    </li>
    <li class="pm pm-ext-links @ViewBag.ExtlinkPanelActive">
        <a href="~/extlinks">
            <img src="~/Content/Images/icon-link.png" />
            External Links
        </a>
    </li>
    <li class="pm pm-author @ViewBag.AuthorPanelActive">
        <a href="~/authors">
            <img src="~/Content/Images/icon-author.png" />
            Authors
        </a>
    </li>
    <li class="pm pm-image">
        <a href="~/pages">
            <img src="~/Content/Images/icon-image.png" />
            Images
        </a>
    </li>

</ul>